<div class="container pt-5 ">

  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="float-left">
        <%= link_to project_faq_path(@project, @faq), class: "btn btn-outline-secondary btn-sm" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <br />
      <br />
      <h4 class="font-weight-bold">edit FAQ</h4>
      <p class="content mb-0">
        make the change to this faq
      </p>
      <div class="card my-4 border-0 ">

        <%= simple_form_for [@project, @faq] do |f| %>
            <% f.hidden_field :project_id %>

              <%= f.input :ask, label: false, placeholder: "question" %>

            <br />
            <%= f.input :answer, label: false, placeholder: "answer" %>
            <br />


          <div class="float-right">
            <%= f.submit "update faq", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "editing faq..." } %>
          </div>
        <% end %>
      </div>
    <div class="col-md-3"></div>
  </div>
  <br />
</div>
