<%= render "projects/project_navbar" %>

<div class="row">
  <div class="col-md-2 mb-3"></div>
  <div class="col-md-8 col-12 mb-3">
    <div class="box-2">
      <div class="text-center">
        <small><%= link_to "#{@project.name}", project_path(@project), class: "exit-text " %></small>
        <br />
        <p class="page-title">Groups</p>
        <small class="form-text text-muted">Group your items</small>
        <br />
        <%= link_to "new group", new_project_group_path(@project, @group), class: "btn btn-outline-secondary btn-sm" %>
      </div>
      <br />
      <br />
      <% if @groups.present? %>
        <div id="groups">
          <%= render @groups %>
        </div>

      <% else %>
        <div class="text-center">
          <small class="">"They are words that are easy enough to say and which fill vast empty spaces."</small>
          <br />
          <br />
          <%= image_tag 'getting-there' %>
        </div>
      <% end %>
    </div>
</div>
