<%= render "projects/project_navbar" %>

<div class="container pt-5">

  <div class="text-center">
    <small><%= link_to "exit", project_path(@project), class: "exit-text " %></small>
    <h4 class="font-weight-bold">Groups</h4>
    <p class="content mb-0">
      Where each of your items belong to
    </p>
    <br />
    <%= link_to "new group", new_project_group_path(@project, @group), class: "btn btn-outline-secondary btn-sm" %>
  </div>
  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% @groups.each do |group| %>
        <% cache group do %>
          <div class="card py-3 px-3 border-0 shadow">
            <div class="row">
              <div class="col-md-11 col-10">
                <small class="font-weight-bold"><%= group.name %></small>

                <p class="description mb-0"><%= group.description %></p>
              </div>
              <div class="col-md-1 col-2">
                <div class=" dropdown">
                  <span class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" >
                    <i class="fas fa-ellipsis-v"></i>
                  </span>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <div class="card p-0 border-0">
                      <div class="dropdown-item">
                        <p class="description mb-0"><i class="fas fa-pencil-alt"></i>  <%= link_to " edit", edit_project_group_path(@project, group) %></p>
                      </div>
                      <div class="dropdown-item">
                        <p class="description mb-0"><i class="fa fa-trash"></i><%= link_to " delete", project_group_path(@project, group), :method => :delete, data: {confirm_swal: 'Are you sure?'} %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
