<%= render "projects/project_navbar" %>

<div class="col-md-12 mb-4">
  <small><%= link_to "#{@project.name}", project_path(@project), class: "exit-text" %></small>
  <br />
  <div class="float-md-left paddy">

    <p class="page-title">Requests</p>
    <small>someone asking you to become a member of a project, or adding a feature? This is the place to check it</small>
  </div>
  <br />
  <div class="float-md-right paddy">
    <%= link_to "send request", new_project_request_path(@project, @request), class: "btn btn-outline-secondary btn-sm" %>
  </div>
</div>

<br />
<br />

<div class="col-md-8">
  <% if @requests.present? %>
    <% @requests.each do |request| %>
    <div class="card p-3 beige-bg border-0 shadow-sm">
      <div class="float-md-left">
        <p class="each-item-title"><%= request.full_name %></p>
        <small class="mb-0"><%= request.message %></small>
        <br />
        <small class="font-weight-bold"><%= time_ago_in_words(request.updated_at) %> ago</small>
      </div>

      <div class="float-md-right">
        <%= link_to "edit", edit_project_request_path(@project, request), class: "btn btn-outline-secondary btn-sm" %> -
        <%= link_to "update request", project_request_path(@project, request), method: :destroy, remote: true, data: { target: "delete.link", action: "ajax:beforeSend->delete#click" }, class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
    <% end %>
  <% else %>
    <small class="text-center">"They are words that are easy enough to say and which fill vast empty spaces."</small>
    <br />
    <br />
    <%= image_tag 'getting-there' %>
  <% end %>
</div>

<div class="col-md-4"></div>
