<%= render "projects/project_navbar" %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="box-2">
      <div class="text-center">
        <small><%= link_to "#{@project.name}", project_path(@project), class: "exit-text" %></small>
        <br />
        <p class="page-title">Requests</p>
        <small >someone asking you to become a member of a project, or adding a feature? This is the place to check it</small>
        <br />
        <%= link_to "send request", new_project_request_path(@project, @request), class: "btn btn-outline-secondary btn-sm" %>
      </div>
      <br />
      <% if @requests.present? %>
        <% @requests.each do |request| %>

          <p class="each-item-title"><%= request.full_name %> (<%= time_ago_in_words(request.updated_at) %> ago)</p>
          <small class="mb-0"><%= request.message %></small>

          <small><%= link_to "edit", edit_project_request_path(@project, request) %></small>
          <small><%= link_to "update request", project_request_path(@project, request), method: :destroy, remote: true, data: { target: "delete.link", action: "ajax:beforeSend->delete#click" } %></small>
          <hr />
        <% end %>
      <% else %>
        <small class="text-center">"They are words that are easy enough to say and which fill vast empty spaces."</small>
        <br />
        <br />
        <%= image_tag 'getting-there' %>
      <% end %>
    </div>
  </div>

</div>

<div class="col-md-8">

</div>

<div class="col-md-4"></div>
