<%= render "projects/project_navbar" %>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <small><%= link_to "exit", project_path(@project), class: "exit-text" %></small>
      <h4 class="font-weight-bold ">Requests</h4>
      <%= link_to "send request", new_project_request_path(@project, @request), class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-4 shadow">
        <% if @requests.present? %>
          <% @requests.each do |request| %>
            <li><small class="font-weight-bold"><%= link_to request.full_name, project_request_path(@project, request) %></small></li>
            <%= request.message %>
          <% end %>
          <br />
        <% else %>
          <small class="text-center">"They are words that are easy enough to say and which fill vast empty spaces."</small>
          <br />
          <br />
          <%= image_tag 'getting-there' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
