<div class="container pt-5">

  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="float-left">
        <%= link_to project_requests_path(@project, @requests), class: "btn btn-outline-secondary btn-sm" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <br />
      <br />
      <h4 class="font-weight-bold">Request</h4>
      <p class="content mb-0">
        ask to be included into the project
      </p>
      <div class="card my-4 border-0 ">

        <%= simple_form_for [@project, @request] do |f| %>
          <% f.hidden_field :project_id %>
          <%= f.input :full_name, label: false, placeholder: "name" %>

          <br />
          <%= f.input :message, label: false, placeholder: "additonal message" %>
          <br />
          <div class="float-right">
            <%= f.submit "send the request", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "sending request..." } %>
          </div>
        <% end %>
      </div>
    <div class="col-md-3"></div>
  </div>
  <br />
</div>
