
<%= simple_form_for @project do |f| %>
    <div class="form-group">
        <%= f.input :name, label: false, class: "form-control", placeholder: "name" %>
    </div>
    <div class="form-group">
        <%= f.input :description, label: false %>
    </div>

    <%= f.fields_for :categories do |builder| %>
        <%= render 'category_categories', f: builder %>
    <% end %>
    <%= link_to_add_categories "Add Category", f, :categories %>
    <br />
    <br />
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "cancel", projects_path(@projects), class: "btn btn-warning" %>
<% end %> 