<nav class="navbar container-fluid navbar-expand-xl navbar-light border-left-0 border-right-0 border-top-0 sticky-top scrollmenu">
  <%= link_to home_path do %>
    <i class="fab fa-accusoft"></i>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto text-md-center text-left">
      <li class="nav-item">
        <%= link_to "Items", project_items_path(@project, @items), class: "nav-link navbar-menu"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Categories", project_categories_path(@project, @categories), class: "nav-link navbar-menu"  %>
      </li>

      <li class="nav-item">
        <p class="navbar-link"><%= link_to "Groups", project_groups_path(@project, @groups), class: "nav-link navbar-menu"  %></p>
      </li>

      <li class="nav-item">
        <%= link_to "Users", project_project_users_path(@project, @users), class: "nav-link navbar-menu" %>
      </li>

      <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle navbar-text " href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a><i class="fas fa-search"></i></a>
        </span>
        <div class="search dropdown-menu dropdown-menu-right shadow-sm border-0" aria-labelledby="navbarDropdown">
          <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline my-2 my-lg-0" } do |form| %>
            <%= form.text_field :q, placeholder: "enter your search here", data: { behavior: "autocomplete" }, class: "form-control search-field" %>
            <br />
            <br />
            <br />
            <%= form.button "Search", class: "btn btn-sm btn-outline-secondary" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>

  <li class="nav-item dropdown">
    <span class="nav-link dropdown-toggle navbar-text" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-circle"></i>
    </span>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <div class="card p-2 border-0">
        <div class="dropdown-item">
          <small><%= link_to current_user.email, edit_user_registration_path %></small>
        </div>

        <div class="dropdown-item">
          <small><%= link_to "logout", destroy_user_session_path,  method: :delete, data: { confirm: "Are you sure?"} %></small>
        </div>
      </div>
    </div>
  </li>
</nav>
<br />
