<%= render "layouts/navbar" %>

<div class="container">
  <div class="float-md-left">
    <h2 class="font-weight-bold "><%= image_tag 'books', class: "icon-image  " %>Projects</h2>

  </div>

  <div class="float-md-right">
    <h6 class="mt-0 "><small><%= link_to "add project", new_project_path(@project), class: "btn btn-outline-secondary btn-sm" %></small></h6>
  </div>

  <br />
  <br />
  <br />

  <div class="row">

    <% @projects.each do |project| %>

      <div class="col-md-4 col-6">
        <%= link_to project_path(project) do %>
          <div class="card shadow-sm">

            <div class="card-body">
              <h5 class="font-weight-bold">  <%= project.name %></h5>
              <small class="pill"><%= project.items.count %> items</small>

              <small class="pill" ><%= project.categories.count %> categories</small>

              <small class="pill"><%= project.groups.count %> groups</small>

              <small class="pill"><%= project.users.count %> members</small>
              <br />
              <br />
              <%= link_to "Preview", preview_project_path(project), class: "btn btn-sm btn-outline-secondary" %>
            </div>
          </div>
          <br />
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- <ul data-controller="history"
    data-target="history.links"
    class="history">
    <li>
    <a href="${ historyItemPath }"
       data-action="history#visitPageInHistory"
       data-history-location="${ historyLocation }"> <strong>></strong> ${ historyItemTitle }</a>
    </li>
  </ul> -->
</div>
