<%= render "layouts/navbar" %>

<div class="container pt-5">

  <h3 class="font-weight-bold ">Projects</h3>
  <h6 class="mt-0 "><small><%= link_to "add project", new_project_path(@project), class: "btn btn-outline-secondary btn-sm" %></small></h6>

  <br />

  <div class="row">

    <% @projects.each do |project| %>

      <div class="col-md-4 col-6">
        <%= link_to project_path(project) do %>
          <div class="card shadow-sm">

            <div class="card-body">
              <h6 class="font-weight-bold">  <%= project.name %></h6>
              <p class="description mb-0"><%= project.items.count %> item(s)</p>
              <p class="description mb-0"><%= project.categories.count %> categories</p>

              <br />
              <%= link_to "Preview", preview_project_path(project), class: "btn btn-sm btn-outline-secondary" %>
            </div>
          </div>
          <br />
        <% end %>
      </div>


    <% end %>
  </div>
  <ul data-controller="history"
    data-target="history.links"
    class="history">
    <li>
    <a href="${ historyItemPath }" 
       data-action="history#visitPageInHistory"
       data-history-location="${ historyLocation }"> <strong>></strong> ${ historyItemTitle }</a>
    </li>
  </ul>
</div>
