<div class="container pt-5 animated myElement rubberBand">

  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="float-left">
        <%= link_to projects_path(@projects), class: "btn btn-outline-secondary btn-sm" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <br />
      <br />
       <h4 class="font-weight-bold">create new project</h4>

      <div class="card my-4 border-0 ">

        <%= simple_form_for @project do |f| %>
            <div class="form-group">
                <%= f.input :name, label: false, class: "form-control", placeholder: "name" %>
            </div>
            <br />
            <div class="form-group">
                <%= f.input :description, placeholder: "enter description", label: false %>
            </div>
            <!-- <br />
            <small id="emailHelp" class="form-text text-muted">Optional! Hint: you can add as many or as little categories as you want.</small>
            <br />
            <%= f.fields_for :categories do |builder| %>
              <%= render 'category_categories', f: builder %>
              <br />

            <% end %>
            <strong><%= link_to_add_categories "+", f, :categories %></strong>
            <br />
            <br /> -->
            <br />
            <div class="float-right">
              <%= f.submit "create new project", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "creating project..." } %>
            </div>
        <% end %>
      </div>
    <div class="col-md-3"></div>
  </div>
  <br />
</div>
