
<div class="card p-2 m-2 border-0 text-center">
  <small><%= link_to "exit preview", project_path(@project), class: "exit-text" %></small>
  <br />
  <h3 class="font-weight-bold"><%= @project.name %></h3>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr />
    <br />
    <br />
    <% @groups.order('name ASC').each do |group| %>
      <li>
        <h6 class="font-weight-bold"><%= group.name %></h6>
      </li>
      <% group.items.order('title').each do |item| %>

        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 80%"></th>
                <th scope="col" style="width: 20%"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="h-50">
                <td><small><%= link_to item.title, project_item_path(@project, item) %></small></td>
                <td><small><%= item.price %></small></td>
              </tr>
            </tbody>
          </table>
        </div>

      <% end %>
      <br />
    <% end %>



  </div>
  <div class="col-md-2"></div>
</div>
