<%= render "projects/project_navbar" %>

<div class="container">

  <div class="row ">
    <div class="col-md-12 text-center">
      <small><%= link_to "projects", projects_path, class: "exit-text" %></small>

      <p class="page-title"><%= @project.name %></p>
      <small><%= @project.description %></small>
      <hr />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= link_to project_items_path(@project, @items) do %>
        <div class="box h-100">
          <h6 class="text-center each-item-title">Items</h6>
          <hr />
          <% @project.items.last(4).each do |item| %>
            <li><p class="item-title"><%= item.title %></p></li>
            <small><%= truncate(item.content, length: 30) %></small>

          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to project_categories_path(@project, @categories) do %>
        <div class="box h-100">
          <h6 class="text-center each-item-title">Categories</h6>
          <hr />
          <% @project.categories.last(4).each do |category| %>
            <li><p class="item-title"><%= category.name %></p></li>
            <small><%= truncate(category.description, length: 30) %></small>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to project_groups_path(@project, @groups) do %>
        <div class="box h-100">
          <h6 class="text-center each-item-title">Groups</h6>
          <hr />
          <% @project.groups.last(4).each do |group| %>
            <li><p class="item-title"><%= group.name %></p></li>
              <small><%= truncate(group.description, length: 30) %></small>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to project_project_users_path(@project, @users) do %>
        <div class="box h-100">
          <h6 class="text-center each-item-title">Members</h6>
          <hr />
          <% @project.users.last(4).each do |user| %>
            <li><p class="item-title"><%= user.email %></p></li>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= link_to project_requests_path(@project, @requests) do %>
        <div class="box-3 h-100">
          <h6 class=" each-item-title">Requests</h6>
          <hr />
          <% @project.requests.last(4).each do |request| %>
            <li><p class="item-title"><%= truncate(request.message, length: 30) %></p></li>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= link_to project_faqs_path(@project, @faqs) do %>
        <div class="box-3 h-100">
          <h6 class=" each-item-title">Most asked questions</h6>
          <hr />
          <% @project.faqs.last(2).each do |faq| %>
            <li><%= truncate(faq.ask, length: 20)  %></li>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
