
<h3>
     <%= @project.name %>    
</h3>
<%= link_to "edit", edit_project_path(@project), class: "btn btn-sm btn-primary" %>
<%= link_to "Delete", project_path(@project), :method => :delete, class: "btn btn-sm btn-danger" %>
<br />
<br />
<h5>Categories</h5>
<% @project.categories.each do |category| %>
    <li><h6><%= category.name %></h6></li>
<% end %>

<hr>
<h5>Items</h5>
<%= link_to "New item", new_project_item_path(@project, @item), class: "btn btn-sm btn-primary" %>
<br />
<br />
<% @project.items.each do |item| %>
    <li><%= link_to item.title, project_item_path(@project, item) %></li>        
<% end %>
<hr>

<h5>Invite User</h5>
<%= form_for [@project, ProjectUser.new] do |f| %>
<div>
    <%= f.text_field :email, required: true %>
</div>
<br />
<%= f.submit "Invite", class: "btn btn-sm btn-primary" %>
<%  end %>
<br /> 
<h5>Users</h5>
<% @project.users.each do |user| %>
    <div><%= user.email %></div>
<% end %>
<hr>

