<%= render "layouts/navbar" %>

<div class="container pt-3">

  <div class=" row">
    <div class="col-md-12">
      <small><%= link_to "projects", projects_path(@projects), class: "exit-text font-weight-" %></small>
      <br />
      <h3 class="font-weight-bold mb-1 "><%= @project.name %></h3>
      <%= link_to "edit", edit_project_path(@project) %>
      <p class="content">Remember, your items need to have categories, for your users to review them. And also don't forget to group them.</p>
      <%= link_to "Preview", preview_project_path(@project), class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to "See activities", load_activities_project_path(@project), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
  <br />


  <div class="row ">
    <div class="col-md-3 col-6 mb-4">
      <%= link_to project_items_path(@project, @items) do %>
        <div class="card shadow-sm p-3 h-100">
          <h6 class="font-weight-bold text-center mb-0 ">Items</h6>
          <hr />
          <p class="description text-center">This is where your items live</p>
          <% @project.items.last(3).each do |item| %>
            <div class="py-1 px-2 border-0 ">
              <p class="content font-weight-bold card-text"><%= truncate(item.title, length: 15) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-6 mb-4">
      <%= link_to project_groups_path(@project, @groups) do %>
        <div class="card shadow-sm  p-3 h-100">
          <h6 class="font-weight-bold text-center mb-0">Groups</h6>
          <hr />
          <p class="description text-center">This is where your items live</p>
          <% @project.groups.last(3).each do |group| %>
            <div class="py-1 px-2 border-0 ">
              <p class="content font-weight-bold card-text"><%= group.name %></p>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-6 mb-4">
      <%= link_to project_categories_path(@project, @categories) do %>

        <div class="card shadow-sm p-3 h-100">
          <h6 class="font-weight-bold text-center mb-0">Categories</h6>
          <hr />
          <p class="description text-center">Check your categories</p>

          <% @project.categories.last(3).each do |category| %>
              <div class="card py-1 px-2 border-0">
                <p class="content font-weight-bold card-text"><%= category.name %></p>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-6 mb-4">
      <%= link_to project_project_users_path(@project, @users) do %>
        <div class="card shadow-sm p-3 h-100">
          <h6 class="font-weight-bold text-center mb-0">Members</h6>
          <hr />
          <p class="description text-center">This is where your items live</p>
          <% @project.users.each do |user| %>
            <div class="card py-1 px-2 border-0 ">
              <p class="content font-weight-bold card-text"><%= truncate((user.email).chomp("gmail"), length: 12) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <hr class="m-5">

  <div class="row">
    <div class="col-md-12">
      <h4 class="font-weight-bold">Help</h4>
      <%= link_to "post a question", new_project_faq_path(@project, @faq), class: "btn btn-sm btn-outline-secondary" %>

      <% @project.faqs.each do |faq| %>
        <li><%= faq.ask %></li>
      <% end %>

      <p class="content">Need help to get started? Check these easy steps</p>
      <div id="app" data-controller="demo">
        <ol>
          <li><button data-action="click->demo#launchDemo" data-name="Daniel Coulbourne" data-email="daniel@tighten.co" data-title="Developer">Daniel</button></li>
          <li><button data-action="click->demo#launchDemo" data-name="Caleb Porzio" data-email="caleb@tighten.co" data-title="Developer">Caleb</button></li>
        </ol>


        <div class="modal" data-controller="modal co-host-modal" data-target="demo.modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <h2 data-target="co-host-modal.name"></h2>
              <span data-target="co-host-modal.title"></span>
              <a data-target="co-host-modal.email" href=""></a>
              <button data-action="click->modal#close">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
