<div class="card m-5 shadow-sm">
    <div class="card-body p-5">
    <h4 class="text-center font-weight-bold">
        <%= @project.name %>
        <div class="dropdown">
            <i class="fab fa-elementor dropdown-toggle" data-toggle="dropdown" ></i>
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">edit</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"><%= link_to "edit", edit_project_path(@project) %></button>
                <button class="dropdown-item" type="button"><%= link_to "Delete", project_path(@project), :method => :delete %></button>                
            </div>
        </div>
    </h4>

    <div class="row">
        <% @project.categories.each do |category| %>
            <div class="col-md-2">
                <div class="card my-2 rounded">
                    <div class="card-body py-0  text-center ">
                        <small><%= category.name %></small>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <br />
    <br />

    <h6 class="font-weight-bold text-center">Items</h6>
    <%= link_to "New item", new_project_item_path(@project, @item), class: "btn btn-sm btn-primary" %>
    <%= link_to "Menu", project_items_path(@project, @items), class: "btn btn-sm btn-success" %>
    <br />
    <br />

    <div class="row">
        <% @project.items.each do |item| %>
            
            <div class="col-md-3">
                <%= link_to project_item_path(@project, item) do %>
                    <div class="card my-2">
                        <div class="card-body">
                            <small><%= item.title %></small>
                        </div>
                    </div>
                <% end %>
            </div>
            
        <% end %>
    </div>
    <br />
    <br />


    <div class="row">
        
        <div class="col-md-4">
            <p>
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Add member
                </a>            
            </p>
            <div class="collapse" id="collapseExample">
            
                <%= simple_form_for [@project, ProjectUser.new] do |f| %>
                    <div class="card card-body">
                    
                        <%= f.input :email, placeholder: "email", label: false %>
                        <%= f.submit "Invite", class: "btn btn-xs btn-primary" %>
                
                    <%  end %>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <% @project.users.each do |user| %>
            <li><small><%= user.email %></small></li>
            <% end %>
        </div>
        
        
        </div>
        </div>
</div>