<div class="row">

  <div class="col-md-8">
    <small><%= link_to "projects", projects_path(@projects) %></small>
    <h1 class="font-weight-bold mb-0"><%= @project.name %></h1>
    <small>
      <h6 class="mt-0 text-center"><small><%= link_to "add group", new_project_group_path(@project, @group), class: "btn btn-outline-secondary btn-sm" %></small></h6>
      <br />
      <%= link_to "edit", edit_project_path(@project) %>
      <%= link_to "delete", project_path(@project), :method => :delete, data: {confirm: "Are you sure?"} %>
    </small>
    <br />
    <br />
    <h5 class="font-weight-bold mt-3">Categories</h5>

    <div class="row">
      <% @project.categories.last(6).each do |category| %>
          <div class="card py-1 px-2 mt-1 mx-3 shadow-sm rounded beige-bg border-0">
            <li><p class="inline-text"><%= category.name %></p></li>
          </div>
      <% end %>
    </div>
    <small><%= link_to "see more . . .", project_categories_path(@project, @categories) %></small>
    <br />
    <br />
    <h5 class="font-weight-bold mt-3">Items</h5>

    <small><%= link_to "see more . . .", project_items_path(@project, @items), class: "btn btn-sm btn-outline-secondary" %></small>

    <% link_to "Menu", project_items_path(@project, @items) %>

    <div class="row">
      <% @project.items.last(6).each do |item| %>
      <div class="col-md-4 col-6">
        <%= link_to project_item_path(@project, item) do %>
        <div class="card my-3 p-2 shadow border-0">
          <% item.images.each do |img| %>
            <%= image_tag img, class: "img-fluid" %>
          <% end %>
          <p class="font-weight-bold"><%= item.title %></p>
          <small><%= truncate(item.content, length: 40)  %></small>
        </div>
        <% end %>
      </div>
      <% end %>
      <br />

    </div>

  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="card  border-top-0 border-bottom-0 border-right-0 ">
        <div class="card-body">
          <h5 class="font-weight-bold">
            Members
            <small >
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    invite
                </a>
            </small>
            <div class="collapse" id="collapseExample">
              <%= simple_form_for [@project, ProjectUser.new] do |f| %>

                    <%= f.input :email, placeholder: "email", label: false %>
                    <%= f.submit "Invite", class: "btn btn-sm btn-outline-secondary" %>

              <%  end %>
            </div>
          </h5>

          <% @project.users.each do |user| %>
          <div class="card beige-bg py-1 px-2 mb-3 rounded border-0">
              <li class="inline-li"><p class="inline-text "><%= user.email %></p></li>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="card  border-top-0 border-bottom-0 border-right-0 ">
        <div class="card-body">
          <h5 class="font-weight-bold">Groups</h5>
          <% @project.groups.each do |group| %>
            <div class="card beige-bg py-1 px-2 mb-3 rounded border-0">
              <li><p class="inline-text "<li><%= group.name %></p></li>
            </div>
            <% link_to "edit", edit_project_group_path(@project, group) %>
          <% end %>
    </div>

  </div>


</div>
