
<h4><%= @project.name %></h4>

<%= link_to "edit", edit_project_path(@project), class: "btn btn-sm btn-warning" %>
<%= link_to "Delete", project_path(@project), :method => :delete, class: "btn btn-sm btn-danger" %>
<br />
<br />
<br />

<h6>Categories</h6>
<% @project.categories.each do |category| %>
    <li><small><%= category.name %></small></li>
<% end %>
<br />
<br />

<h6>Items</h6>
<%= link_to "New item", new_project_item_path(@project, @item), class: "btn btn-sm btn-primary" %>
<%= link_to "Menu", project_items_path(@project, @items), class: "btn btn-sm btn-success" %>
<br />
<br />

<div class="row">
    <% @project.items.each do |item| %>
        
        <div class="col-md-3">
            <%= link_to project_item_path(@project, item) do %>
                <div class="card">
                    <div class="card-body">
                        <small><%= item.title %></small>
                    </div>
                </div>
            <% end %>
        </div>
        
    <% end %>
</div>
<br />
<br />

<h6>Invite</h6>

<div class="row">
    <div class="col-md-4">
        <%= simple_form_for [@project, ProjectUser.new] do |f| %>
            <%= f.input :email, placeholder: "email", label: false %>
            <%= f.submit "Invite", class: "btn btn-xs btn-primary" %>
        <%  end %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <% @project.users.each do |user| %>
            <div><small><%= user.email %></small></div>
        <% end %>
    </div>
</div>
