<div class="row">

  <div class="col-md-8">
    <small><%= link_to "projects", projects_path(@projects) %></small>
    <h1 class="font-weight-bold mb-0"><%= @project.name %></h1>
    <%= link_to "Preview", preview_project_path(@project), class: "btn btn-sm btn-outline-secondary" %>
    <small>

      <br />
      <%= link_to "edit", edit_project_path(@project) %>
      <%= link_to "delete", project_path(@project), :method => :delete, data: {confirm: "Are you sure?"} %>
    </small>
    <br />
    <br />
    <h5 class="font-weight-bold mt-3">Categories</h5>
    <small><%= link_to "see more . . .", project_categories_path(@project, @categories), class: "btn btn-sm btn-outline-secondary" %></small>
    <br />
    <div class="row mt-2">
      <% @project.categories.last(6).each do |category| %>
          <div class="card py-1 px-2 mt-1 mx-3 shadow-sm rounded beige-bg border-0">
            <li><p class="inline-text"><%= category.name %></p></li>
          </div>
      <% end %>
    </div>



    <br />
    <br />
    <h5 class="font-weight-bold mt-3">Items</h5>

    <small><%= link_to "see more . . .", project_items_path(@project, @items), class: "btn btn-sm btn-outline-secondary" %></small>

    <div class="row">
      <% @project.items.last(6).each do |item| %>
      <div class="col-md-4 col-6">
        <%= link_to project_item_path(@project, item) do %>
        <div class="card my-3 p-2 shadow border-0">
          
          <small class="font-weight-bold card-text"><%= truncate(item.title, length: 15) %></small>
          <small class=" form-text text-muted"><%= truncate(item.content, length: 30)  %></small>
        </div>
        <% end %>
      </div>
      <% end %>
      <br />
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="row">
      <div class="card  border-top-0 border-bottom-0 border-right-0 ">
        <div class="card-body">
          <h5 class="font-weight-bold">

            Members

            <small>
              <button data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
                invite
              </button>
            </small>

            <div class="collapse" id="collapseExample">
              <%= simple_form_for [@project, ProjectUser.new] do |f| %>
                <%= f.input :email, placeholder: "email", label: false %>
                <%= f.submit "Invite", class: "btn btn-sm btn-outline-secondary" %>
              <%  end %>
            </div>
          </h5>

          <% @project.users.each do |user| %>
            <div class="card beige-bg py-1 px-2 mb-3 rounded border-0">
              <small class="inline-text"><%= user.email %></small>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="card border-top-0 border-bottom-0 border-right-0 ">
        <div class="card-body">
          <h5 class="font-weight-bold">Groups</h5>
          <h6 class="mt-0 text-center"><small><%= link_to "add group", new_project_group_path(@project, @group), class: "btn btn-outline-secondary btn-sm" %></small></h6>
          <% @project.groups.each do |group| %>
            <div class="card beige-bg py-1 px-2 mb-2 rounded border-0">
              <small class="inline-text "><%= group.name %></small>
            </div>
            <% link_to "edit", edit_project_group_path(@project, group) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
