<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <small><%= link_to "projects", projects_path(@projects) %></small>
    <h1 class="font-weight-bold mb-0"><%= @project.name %></h1>
    <small>

      <%= link_to "edit", edit_project_path(@project) %>
      <%= link_to "delete", project_path(@project), :method => :delete, data: {confirm: "Are you sure?"} %>
    </small>

    <div class="row">
      <% @project.categories.each do |category| %>
          <div class="card py-0 px-2 my-1 mx-2 shadow-sm rounded beige-bg border-0">
            <li><p class="inline-text"><%= category.name %></p></li>
          </div>
      <% end %>
    </div>
    <br />
    <h5 class="font-weight-bold mt-3">Items</h5>
    <small><%= link_to "add item", new_project_item_path(@project, @item), class: "btn btn-sm btn-outline-secondary"  %></small>

    <% link_to "Menu", project_items_path(@project, @items) %>

    <div class="row">
      <% @project.items.each do |item| %>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= link_to project_item_path(@project, item) do %>
        <div class="card my-3 p-3 shadow">
          <li><p class="font-weight-bold"><%= item.title %></p></li>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="card  border-top-0 border-bottom-0 border-right-0 ">
        <div class="card-body">
          <p class="font-weight-bold">
            Members
            <small >
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    invite
                </a>
            </small>
            <div class="collapse" id="collapseExample">
              <%= simple_form_for [@project, ProjectUser.new] do |f| %>

                    <%= f.input :email, placeholder: "email", label: false %>
                    <%= f.submit "Invite", class: "btn btn-sm btn-outline-secondary" %>

              <%  end %>
            </div>
          </p>


            <% @project.users.each do |user| %>
            <div class="card grey-bg py-0 px-2 mb-3 rounded border-0">
                <li class="inline-li"><p class="inline-text font-weight-bold"><%= user.email %></p></li>
              </div>
            <% end %>



        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>

</div>
