<%= render "projects/project_navbar" %>

<div class="container">

  <div class="text-center">
    <p class="content"><%= link_to "exit", project_path(@project), class: "exit-text" %></p>

    <h4 class="font-weight-bold">Users</h4>
    <small class="form-text text-muted mb-3">
      These are your people
    </small>
    <%= link_to "Invite", new_project_project_user_path(@project, @project_user), class: "btn btn-outline-secondary btn-sm" %>
  </div>

  <br />

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <% if @project.users.present? %>
          <% @project.users.each do |user| %>
            <li><small class="font-weight-bold"><%= user.email %></small></li>
            <hr />
          <% end %>
        <% else %>
          <li><small class="">"They are words that are easy enough to say and which fill vast empty spaces."</small></li>

          <br />
          <%= image_tag 'getting-there' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
