


<div class="container my-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="text-center">
        <%= image_tag 'task1001', class: 'img-fluid' %>
        <h4 class="font-weight-bold">    LiveMenu </h4>
        <p class="description">collaborate with your fellow chefs and trusted customers to create your new dish</p>

        <br >
        <br >
        <%= image_tag "getting-there", class:'img-fluid' %>
        <br >
        <br >
        <% if user_signed_in? %>
          <%= link_to "see your projects", projects_path, class: "btn btn-outline-secondary "  %>
        <% else %>
          <%= link_to "log in", new_user_session_path,  class: "btn btn-outline-secondary " %>
          <%= link_to "get started", new_user_registration_path,  class: "btn btn-outline-secondary " %>
        <% end %>
      </div>
      <br >
      <br >
      <small>

        You spent days creating the most authentic dish you could think of.  Everyone you know tells you that the food is incredible. It goes to the menu and up for service this week.
        That night was so busy, but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.
      </small>
      <br >
      <br >
      <hr />
      <br >
      <br >
      <h6 class="text-center font-weight-bold">Features</h6>

      <div class="row my-5">

        <div class="col-md-6 col-12">
          <div class="row">
            <div class="col-2">
              <%= image_tag "books", class: "icon-image" %>
            </div>
            <div class="col-10">
              <small>
                Everyone you know tells you that the food is incredible. It goes to the menu and up for service this week.
                That night was so busy, but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.
              </small>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="row">
            <div class="col-2">
              <%= image_tag "brainstorm", class: "icon-image" %>
            </div>

            <div class="col-10">
              <small>
                You spent days creating the most authentic dish you could think of.  Everyone you know tells you that the food is incredible. It goes to but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-6 col-12">
          <div class="row">
            <div class="col-2">
              <%= image_tag "maintenance", class: "icon-image" %>
            </div>
            <div class="col-10">
              <small>
                You spent days creating the most authentic dish you could think of.  Everyone you know tells you that the food is incredible. It goes to the menu and up for service this week.
              </small>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="row">
            <div class="col-2">
              <%= image_tag "statistics", class: "icon-image" %>
            </div>
            <div class="col-10">
              <small>

                That night was so busy, but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.
              </small>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>





</div>
