<div class="container pt-5 ">

  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="float-left">
        <%= link_to project_item_path(@project, @item), class: "btn btn-outline-secondary btn-sm" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <br />
      <br />
      <h4 class="font-weight-bold ">Edit <%= "#{@item.title}" %></h4>

      <div class="card my-4 border-0 ">

        <%= simple_form_for [@project, @item] do |f| %>

            <%= f.input :title, label: false, placeholder: "name" %>

            <br />
            <%= f.input :content, label: false, placeholder: "description" %>
            <br />
            <%= f.input :category, label: false, placeholder: "category" %>
            <br />
            <%= f.input :price, label: false, placeholder: "price" %>
            <br />
            <%= f.file_field :image %>
            <br />
            <br />
            <%= f.label "Groups: ", class: "item-title" %>
            <%= f.collection_check_boxes :group_ids, @project.groups.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox_inline") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
            <br />
            <br />
            <%= link_to "remove", delete_image_project_item_url(@project, @item, @item_image) %>
            <br />
            <div class="float-right">
              <%= f.submit "update this item", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "updating this item..." } %>
            </div>
        <% end %>
      </div>
    <div class="col-md-3"></div>
  </div>
  <br />
</div>
