<%= render "projects/project_navbar" %>

<div class="container pt-5">
  <div class="text-center">
    <%= link_to "exit", project_item_path(@project, @item),  class: "exit-text description" %>
    <br />
    <h2 class="font-weight-bold">Items</h2>
  </div>

  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div class="card border-0 ">

        <%= simple_form_for [@project, @item] do |f| %>
            <%= f.input :title, label: false, placeholder: "name" %>

            <br />
            <%= f.input :content, label: false, placeholder: "description" %>
            <br />
            <%= f.input :category, label: false, placeholder: "category" %>
            <br />

              <%# f.collection_select :group_ids, @project.groups.all, :id, :name, {}, { multiple: true }  %>

            <%= f.input :price, label: false, placeholder: "price" %>
            <br />
            <%= f.file_field :image %>
            <br />
            <br />
            <%= f.label "Groups", class: "item-title" %>
            <br />
            <%= f.collection_check_boxes :group_ids, @project.groups.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox_inline") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
            <br />
            <br />

            <%= f.submit "create item", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "Creating item..." } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
