<div class="row  ">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card my-4 border-0 ">
      <h5 class="font-weight-bold">Edit your item</h5>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

      <hr />
      <br />

      <%= simple_form_for [@project, @item] do |f| %>
          <%= f.input :title, label: false, placeholder: "name" %>
          <br />
          <%= f.input :content, label: false, placeholder: "description" %>
          <br />
          <%= link_to "cancel", project_path(@project), class: "btn btn-outline-secondary btn-sm" %>
          <%= f.submit "make the change", class: "btn btn-outline-secondary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
