<small><%= link_to "#{@project.name}", project_path(@project) %></small>
<h1>Items</h1>
<small><%= link_to "add item", new_project_item_path(@project, @item), class: "btn btn-sm btn-outline-secondary"  %></small>

<div class="row">
  <% @items.each do |item| %>
  <div class="col-md-3 col-6">
    <%= link_to project_item_path(@project, item) do %>
    <div class="card my-3 p-3 shadow-sm border-0">
      <% item.images.each do |img| %>
        <%= image_tag img, class: "img-fluid" %>
      <% end %>
      <p class="font-weight-bold"><%= item.title %></p>
      <small><%= truncate(item.content, length: 40)  %></small>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<div id="items" class="row list-group">
  <% @items.each do |item| %>
    <%= link_to item.title, class: "list-group-item" %>
  <% end %>
</div>
