<%= render "projects/project_navbar" %>
<div class="container">
  <div data-controller="filter">
    <div class="row">
      <div class="col-md-12">
        <%= link_to "#{@project.name}", project_path(@project),  class: "exit-text description" %>
        <p class="page-title">Items</p>
        <input data-target="filter.source" data-action="input->filter#filter" type="text" class="filter filter-size " placeholder="Filter items" size="35" />
        <div class="float-md-right paddy">
          <%= link_to "add item", new_project_item_path(@project, @item), class: "btn btn-sm btn-outline-secondary"  %>
          <%= link_to "Preview", preview_project_item_path(@project, @items), class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-md-8">
        <% if @items.present? %>

          <%= render "items" %>
        <% else %>
          <div class=" text-center">
            <small class="">"They are words that are easy enough to say and which fill vast empty spaces."</small>
            <br />
            <br />
            <%= image_tag 'getting-there' %>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">

        <div class="card p-4">

          <small>Here's where we're keeping track of the licensed music we've been using in the show. Here's where we're keeping track of the licensed music we've been using in the show.
          <br />
          <br />
          <%= bar_chart chart_item_average_rating_in_index_project_items_path %>
        </div>
      </div>
    </div>
  </div>
</div>
