<%= render "projects/project_navbar" %>

<div data-controller="filter">
  <div class="col-md-12">
    <%= link_to "#{@project.name}", project_path(@project),  class: "exit-text description" %>
    <p class="page-title">Items</p>
    <%= link_to "add item", new_project_item_path(@project, @item), class: "btn btn-sm btn-outline-secondary"  %>
    <%= link_to "Preview", preview_project_item_path(@project, @items), class: "btn btn-sm btn-outline-secondary" %>
    <div class="float-md-right paddy">
      <input data-target="filter.source" data-action="input->filter#filter" type="text" class="filter filter-size " placeholder="Filter items" size="35" />
    </div>

  </div>
  <br />
  <br />
  <div class="col-md-12">
    <% if @items.present? %>
      <%= render "items" %>
    <% else %>
      <div class=" text-center">
        <small class="">"They are words that are easy enough to say and which fill vast empty spaces."</small>
        <br />
        <br />
        <%= image_tag 'getting-there' %>
        <% end %>
      </div>
  </div>
</div>
