<div class="container">
  <div data-controller="select-filter" data-select-filter-url="<%= project_items_filter_path %>">
    <div class="left-col">
      <h6>Filter categories:</h6>
      <select name="categories" multiple size="<%= @categories.length %>"  data-action="select-filter#change">
        <%= @categories.each do |category| %>
          <option value="<%= category %>"><%= category.to_s.humanize %></option>
        <% end %>
      </select>
    </div>
    <div class="right-col" data-target="select-filter.items">
      <%= render partial: 'item_list', locals: { items: @items} %>
    </div>
  </div>
</div>
