
<%=raw Daru::View.dependent_script(:datatables) %>
<%= render "projects/project_navbar" %>

<div class="container">
  <small><%= link_to "exit",  project_item_path(@project, @item), class: "exit-text" %></small>

  <h5 class="font-weight-bold animated myElement flipInX">Analytics</h5>
  <p>
    <b>Data : </b>
    <%=raw @dt_df1.data %>
    <br>
    <b>Table : </b>
    <br>
    <div style="width: 500px;"><%=raw @dt_df1.div %></div>
  </p>


</div>
