<div class="container m-5">
  <small><%= link_to "back to #{@item.title}",  project_item_path(@project, @item), class: "btn btn-outline-secondary btn-sm" %></small>
  <br />
  <br />
  <h5 class="font-weight-bold animated myElement flipInX">Analytics</h5>


  Average <%= @v.mean %>
  Frequency <% @v.frequencies.each do |f| %>
       <%= f %>
        <% end %>
  Summary <%= @v.summary %>
  <br />
  <% @v.each do |v| %>
    <%= v %>
  <% end %>

</div>
