<div class="container m-5">
  <small><%= link_to "back to #{@item.title}",  project_item_path(@project, @item), class: "btn btn-outline-secondary btn-sm" %></small>
  <br />
  <br />
  <h5 class="font-weight-bold animated myElement flipInX">Analytics</h5>
  <p>
    <b>Data : </b>
    <%=raw @dt_df1.data %>
    <br>
    <b>Table : </b>
    <br>
    <div style="width: 500px;"><%=raw @dt_df1.div %></div>
  </p>

  Average <%= @v.mean %>
  <br />
  <% @v.each do |v| %>
    <%= v %>
  <% end %>

</div>
