<div class="container">
  <div class="row my-5">
    <div class="col-md-6">
      <small><%= link_to "exit",  project_items_path(@project, @items), class: "btn btn-outline-secondary btn-sm" %></small>
    </div>
  </div>


  <div class="row" data-controller="delete">

    <div class="col-md-7">

      <div class="card border-0 pr-5">
        <% if @item.image.attached? %>
          <%= image_tag url_for(@item.image.variant(resize: "400x400")), class: "img-fluid"  %>
        <% end %>
      </div>
    </div>

    <div class="col-md-5 ">
      <p class="page-title"><%= @item.title %></p>
      <p class="description"><%= @item.content %></p>
      <%= link_to "edit", edit_project_item_path(@project, @item)  %>
      <%= link_to "delete", project_item_path(@project, @item), method: :delete, remote: true, data: { target: "delete.link", action: "ajax:beforeSend->delete#click" } %>
      <%= link_to "analysis", result_project_item_path(@project, @item) %>
    </div>
  </div>
  <br />
  <br />
  <div classs="row">
    <div class="col-md-6">
      <p class="content mb-1"><i class="far fa-clock fa-fw"></i> created <span class="font-weight-bold"><%= time_ago_in_words(@item.created_at) %></span> ago</p>
      <p class="content mb-1"><i class="far fa-folder-open fa-fw"></i> belongs in
        <% @item.groups.each do |group| %>
          <span class="font-weight-bold"><%= group.name %></span><%= "," unless group == @item.groups.last %>
        <% end %>
      </p>
      <p class="content mb-1"><i class="fas fa-person-booth fa-fw"></i> you'll be voting on
        <% @project.categories.each do |cat| %>
          <span class="font-weight-bold"><%= cat.name %></span><%= "," unless cat == @project.categories.last %>
        <% end %>
      </p>
      <p class="content mb-1"><i class="fas fa-dollar-sign fa-fw"></i><%= @item.price.to_i rescue 0 %></p>

    </div>
  </div>


  <br />
  <hr />
  <br />

  <div class="row ">
    <div class="col-md-12">
      <div class="float-left">
        <h5 class="font-weight-bold title"> Ratings and Reviews</h5>
        <% if reviewers.include?(current_user.id) %>
          <small class="description">you've submitted a review</small>
        <% else %>
          <%= link_to " create review", new_project_item_review_path(@project, @item), class: "btn btn-outline-secondary btn-sm" %>
        <% end %>
        <br />
        <br />
      </div>

      <div class="float-right">
        <%= link_to "see all reviews", project_item_reviews_path(@project, @item, @reviews), class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
    <div class="col-md-12">

      <% if !@item.reviews.present? %>
        <h6 class="nothing-yet">There are no reviews yet!</h6>

      <% end %>
      <div class="row">
        <% @item.reviews.includes(:user).limit(3).each do |review| %>
          <div class="col-md-4">
            <%= link_to project_item_review_path(@project, @item, review) do %>
              <div class="card  mb-2 beige-bg p-4  border-0">
                <p class="content"><%= truncate(review.public_review, length: 200) %></p>
                <p class="description mb-0"><%= time_ago_in_words(review.created_at)  %> ago</p>
                <p class="description">by <%= review.user.email %>  </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
  $('.star-rating').raty('reload')
</script>
