<div class="row">
  <div class="col-md-4">
    <div class="card border-0">
      <%= image_tag url_for(@item.image.variant(resize: "500x300")), class: "img-fluid"  %>
    </div>
  </div>

  <div class="col-md-8 ">
    <small><%= link_to "exit",  project_items_path(@project, @items), class: "exit-text" %></small>
    <h3 class="font-weight-bold mt-1"><%= @item.title %></h3>
    <small><%= @item.content %></small>
    <br />
    <% if item_owner? %>
      <small class="mt-0">
        <%= link_to "edit", edit_project_item_path(@project, @item)  %>
         <%= link_to "delete", project_item_path(@project, @item), :method => :delete, data: {confirm: "Are you sure?"} %>
      </small>
    <% end %>

    <br />
    <h6 class="font-weight-bold">Reviews</h6>

    <% if reviewers.include?(current_user.id) %>
      <small class="exit-text">you've submitted a review</small>
      <br />
    <% else %>
      <h6 class="nothing-yet">There are no reviews yet!</h6>
      <%= link_to " create review", new_project_item_review_path(@project, @item), class: "btn btn-outline-secondary btn-sm" %>
    <% end %>

    <br />

    <% @item.reviews.each do |review| %>
      <%= link_to project_item_review_path(@project, @item, review) do %>
        <div class="card beige-bg p-3 mb-3 shadow border-0">
          <small><%= truncate(review.public_review, length: 200) %></small>
          <small class="font-weight-bold"><%= time_ago_in_words(review.created_at)  %> ago</small>
        </div>
      <% end %>
    <% end %>

  </div>

</div>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
