<div class="row pt-2">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <small><%= link_to "#{@project.name}",  project_path(@project) %></small>
    <br />
    <% if @item.image.present? %>
      <%= image_tag(@item.image, class: "img-fluid") %>
    <% end %>
    <h2 class="font-weight-bold"><%= @item.title %></h2>

    <small><%= @item.content %></small>
    <br />
    <% if item_owner? %>
      <small class="mt-0">
        <%= link_to "edit", edit_project_item_path(@project, @item)  %>
         <%= link_to "delete", project_item_path(@project, @item), :method => :delete, data: {confirm: "Are you sure?"} %>
      </small>
    <% end %>
    <hr />
    <br />
    <h6 class="font-weight-bold">Reviews</h6>

    <% if reviewers.include?(current_user.id) %>
      <small>you've submitted a review</small>
    <% else %>
      <%= link_to " create review", new_project_item_review_path(@project, @item), class: "btn btn-outline-secondary btn-sm" %>
    <% end %>

    <br />
    <br />
    <% @item.reviews.each do |review| %>
      <%= link_to project_item_review_path(@project, @item, review) do %>
        <div class="card beige-bg p-3 mb-3 shadow border-0">
          <small><%= truncate(review.public_review, length: 200) %></small>
          <small class="font-weight-bold"><%= time_ago_in_words(review.created_at)  %> ago</small>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
