<%= render "projects/project_navbar" %>

<div class="container pt-5">
  <div data-controller="delete">
  <div class="row">

    <div class="col-md-4">
      <div class="card border-0">
        <% if @item.image.attached? %>
          <%= image_tag url_for(@item.image.variant(resize: "500x300")), class: "img-fluid"  %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 ">
      <div class="row">
        <div class="col-md-8 col-10">
          <small><%= link_to "exit",  project_items_path(@project, @items), class: "exit-text" %></small>
        </div>

        <div class="col-md-4 col-2">
          <p class="description mb-0"><i class="fas fa-pencil-alt"></i><%= link_to "edit", edit_project_item_path(@project, @item)  %></p>
          <p class="description mb-0"><i class="fa fa-trash"></i><%= link_to "delete", project_item_path(@project, @item), method: :delete, remote: true, data: { target: "delete.link", action: "ajax:beforeSend->delete#click" } %></p>
        </div>

      </div>

      <h3 class="font-weight-bold mt-1 title"><%= @item.title %></h3>
      <p class="description"><%= @item.content %></p>
      <p class="description"><%= @item.category %></p>
      <p class="content mb-1"><i class="far fa-clock fa-fw"></i> created <span class="font-weight-bold"><%= time_ago_in_words(@item.created_at) %></span> ago</p>
      <p class="content mb-1"><i class="far fa-folder-open fa-fw"></i> belongs in
        <% @item.groups.each do |group| %>
          <span class="font-weight-bold"><%= group.name %></span><%= "," unless group == @item.groups.last %>
        <% end %>
      </p>
      <p class="content mb-1"><i class="fas fa-person-booth fa-fw"></i> you'll be voting on
        <% @project.categories.each do |cat| %>
          <span class="font-weight-bold"><%= cat.name %></span><%= "," unless cat == @project.categories.last %>
        <% end %>
      </p>
      <p class="content mb-1"><i class="fas fa-dollar-sign fa-fw"></i><%= @item.price.to_i rescue 0 %></p>


      <%= link_to "show analytics", result_project_item_path(@project, @item), class: "btn btn-success btn-sm" %>
      <%=raw item_dataframe %>
    </div>
  </div>
</div>

<br />
<hr />
<br />

<div class="row ">
  <div class="col-md-4">
    <h5 class="font-weight-bold title"><%= @item.reviews.count %> Reviews</h5>
    <% if reviewers.include?(current_user.id) %>
      <small class="description">you've submitted a review</small>
    <% else %>
      <%= link_to " create review", new_project_item_review_path(@project, @item), class: "btn btn-outline-secondary btn-sm" %>
    <% end %>
    <br />
    <br />
  </div>
  <div class="col-md-8">
    <% if !@item.reviews.present? %>
      <h6 class="nothing-yet">There are no reviews yet!</h6>
    <% end %>

    <% @item.reviews.includes(:user).each do |review| %>
      <%= link_to project_item_review_path(@project, @item, review) do %>
        <div class="card  mb-2  border-0">
          <p class="content"><%= truncate(review.public_review, length: 200) %></p>
          <p class="description mb-0"><%= time_ago_in_words(review.created_at)  %> ago</p>
          <p class="description">by <%= review.user.email %>  </p>
        </div>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
