<div class="container pt-5 ">

  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="float-left">
        <%= link_to project_categories_path(@project, @categories), class: "btn btn-outline-secondary btn-sm" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <br />
      <br />
      <h4 class="font-weight-bold ">Edit <%= "#{@category.name}" %></h4>
      <small class="form-text text-muted">
        These categories will be part of every review for each item
      </small>
      <div class="card my-4 border-0 ">

        <%= simple_form_for [@project, @category] do |f| %>
            <%= f.input :name, label: false, placeholder: "name" %>

            <br />
            <div id="tall">
              <%= f.input :description, label: false, placeholder: "description"  %>
            </div>

            <br />
            <div class="float-right">
              <%= f.submit "update this category", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "adding a category" } %>
            </div>
        <% end %>
      </div>
    <div class="col-md-3"></div>
  </div>
  <br />
</div>
