<%= render "projects/project_navbar" %>


<div class="col-md-12 mb-3">
  <small><%= link_to "#{@project.name}", project_path(@project), class: "exit-text" %></small>
  <br />
  <div class="float-md-left paddy">
    <p class="page-title">Categories</p>
    <small class="form-text text-muted">
      These categories will be part of every review for each item
    </small>
  </div>
  <br />
  <div class="float-md-right paddy">
    <%= link_to "add category", new_project_category_path(@project, @category), class: "btn btn-outline-secondary btn-sm" %>
  </div>
</div>

<br />
<br />
<br />

<div class="col-md-8">

    <% if @categories.present? %>
      <%= render "categories" %>
    <% else %>
    <small class="">"They are words that are easy enough to say and which fill vast empty spaces."</small>
    <br />
    <br />
    <%= image_tag 'getting-there' %>
    <% end %>

</div>
<div class="col-md-4"></div>
