<div class="row  ">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card my-4 border-0 ">
      <h5 class="font-weight-bold">Create your category</h5>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <hr />
      <br />

      <%= simple_form_for [@project, @category] do |f| %>
          <%= f.input :name, label: false, placeholder: "name" %>

          <br />
          <%= f.input :description, label: false, placeholder: "description" %>

          <br />
          <%= link_to "cancel", project_categories_path(@project, @categories), class: "btn btn-outline-secondary btn-sm" %>
          <%= f.submit "create category", class: "btn btn-outline-secondary btn-sm", data: { disable_with: "Creating item..." } %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
