<!DOCTYPE html>
<html>
  <head>
    <title>Nowmenu</title>
    <%= csrf_meta_tags %>

   <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="single-page-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" href="launch.png">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=raw Daru::View.dependent_script(:nyaplot) %>
    <%=raw Daru::View.dependent_script(:googlecharts) %>
    <%=raw Daru::View.dependent_script(:highcharts) %>
    <%=raw Daru::View.dependent_script(:datatables) %>
  </head>


  <body>
    <div class="container">
      <% unless flash.empty? %>
    	  <script type="text/javascript">
  	      <% flash.each do |f| %>
  	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
  	     	 toastr['<%= type %>']('<%= f[1] %>');
  	      <% end %>
    	  </script>
    	 <% end %>
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <% unless controller_name == "home" %>
        <%= render "layouts/footer" %>
      <% end %>
    <% end %>
  </body>

</html>
