<!DOCTYPE html>
<html>
  <head>
    <title>Nowmenu</title>
    <%= csrf_meta_tags %>
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json" />
    <%= javascript_pack_tag "application" %>
    

    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
  </head>


  <body class="">

    <%= render "layouts/navbar" %>

    <div class="container pb-5 mb-5">
      <%= yield %>

      <div class="sticky-footer">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>

        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
    </div>

  </body>

</html>
